.toggle-button input:checked + .toggle-slider {
    background-color: var(--background-color-active);
}

.toggle-button input:checked + .toggle-slider::before {
    transform: translateX(20px);
}

.toggle-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.toggle-button input {
    display: none;
}

.toggle-slider {
    width: 40px;
    height: 20px;
    background-color: var(--progress-background);
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-slider::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--button-background);
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}