body {
  height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 20px var(--shadow-color);
  background-color: var(--button-background);
}

.header {
  gap: 15px;
  display: flex;
  align-items: center;
}

.header .toggle-button {
  margin-left: auto;
}
